body{
    background: linear-gradient(red, blue, green, yellow);
}

#titleBox{
    background: linear-gradient(red, blue, green, yellow);
    text-align: center;
}

#instructionsBox{
    background: linear-gradient(red, blue, green, yellow);;
    font-size: 25px;
}

#randomNumberBox{
    margin: auto;
    background: linear-gradient(red, blue, green, yellow);
    width: 25%;
    height: 125px;
    font-size: 80px;
    text-align: center;
}

#winLoseBox{
    margin: auto;
    background: linear-gradient(red, blue, green, yellow);
    width: 25%;
    height: 25%;
    font-size: 40px;
    text-align: center;
}

.box{
    margin: 15px;
    padding: 5px;
    height: 15%;
    width: 15%;
    float: left;

}

.ruby_red{
    background: red;
}

.diamond_blue{
    background:blue;
}

.emerald_green{
    background: green;
}

.theYellowOne_yellow{
    background:yellow;
}

img{
    height: 200px;
    width: 200px;
    margin-top: 4px;
    margin-left: 10px;
}

#playerScore {
    margin: auto;
    background: linear-gradient(red, blue, green, yellow);
    font-size: 40px;
    clear: both;
    width:25%;
    text-align: center;
    
}
