#titleBox{
    background-color: green 
}

#instructionsBox{
background-color: blue;
font-size: 25px;
}

#randomNumberBox{
background-color: khaki;
width: 25%;
height: 125px;
font-size: 80px;
}

#winLoseBox{
background-color: aqua;
width: 25%;
height: 25%;
font-size: 40px;



}

#parentGameButtons{
background-color: red;
}

.box{
background-color: orange;
height: 15%;
width: 15%;
float: left;

}

img{
    height: 200px;
    width: 200px;
    margin-top: 4px;
    margin-left: 10px;
    
}

#playerScore {
    background-color: rgb(162, 0, 255);
    font-size: 40px;
    clear: both;
    width:25%;
}
